@model PROG7311_POE_PART_2.Models.FarmerViewModel
@{
    ViewData["Title"] = "Create New Farmer";
}

<h2>Create New Farmer Profile</h2>

<form asp-action="CreateFarmer" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" type="password" />
    </div>
    <div class="form-group">
        <label asp-for="FullName"></label>
        <input asp-for="FullName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="FarmName"></label>
        <input asp-for="FarmName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Location"></label>
        <input asp-for="Location" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Create Farmer</button>
</form>
